.rsvp-button {
  background-color: transparent;
  border: 2px solid rgb(221, 197, 118);
  color: rgb(221, 197, 118);
  transition: all 0.3s ease-in-out;
}

.rsvp-button:hover {
  background-color: rgb(221, 197, 118);
  color: black;
}
