@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');

.title {
    font-family: 'Alice', serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;

    letter-spacing: -0.5px;
    line-height: 1.2;
    color: rgb(51, 51, 51);
    cursor: pointer;

    @media (max-width: 768px) {
        font-size: 16px;
    }
}

.navLink {
    font-family: 'Almarai', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.5px;
    line-height: 1.2;
    color: rgb(51, 51, 51);
    cursor: pointer;
}

.navLink:hover {
    color: rgb(51, 51, 51);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}

.navLinkActive {
    color: rgb(51, 51, 51);
    text-decoration: underline;
    text-underline-offset: 4px;
    text-decoration-thickness: 2px;
}